* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.836);
    /* font-size: medium; */
    font-weight: 600;
    /* line-height: 25px; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Cabinet Grotesk', sans-serif;
}
body{
}
.container{
    
    width: 98.7vw;
   /* height: fit-content;  */
   
}
.container {
    background-image: url('/nick-nice-gPm8h3DS1s4-unsplash.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    filter: blur(2px);
  }
/* .container > img{
    width: 100%;
    position: absolute;
    z-index: -10;
    filter: blur(4px);
    object-fit: cover;

    
} */
nav{
    /* border: 1px solid red; */
    width: 98.7vw;
}
.list{
    display: flex;
    /* border: 1px solid wheat; */
    justify-content: space-evenly;
}
.list div {
    padding: 1rem 2rem;
    font-size: 20px;
    letter-spacing: 3px;
}

.man{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: #000; */
    color: white;
    /* border: 1px solid rebeccapurple; */
    margin-top: 5vh;
    

}
.quote{
    width: max-content;
}
.ibn-img > img{
    width: auto;
    /* height: 500px; */
    /* mix-blend-mode: color; */
}

h1{
    font-size: 8vw;
}
h3{
    font-size: 2.8vw;
}
.container .section{
    padding: 3rem 0;
    margin-top: 15vh;
    width: 65vw;
    margin: auto;
    text-align: justify;
}
h2{
font-size: 5rem;
}
p{
    font-size: x-large;
}